.profile__edit-button{
    background-color: black;
    background-image: url(../../../images/profile__edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-top: 8px;
}

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .profile__edit-button{
        width: 24px;
        height: 24px;
        margin-left: auto;
        background-size: 10px;
    }
}