@import url(../styles/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(../blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__like-counter/element__like-counter.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__img/elements__img.css);
@import url(../blocks/elements/__group/elements__group.css);
@import url(../blocks/elements/__item-name/elements__item-name.css);
@import url(../blocks/elements/__button/elements__like-button.css);
@import url(../blocks/elements/__button/button_is-active.css);
@import url(../blocks/elements/__button/elements_like-counter.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_is-opend/popup_is-opened.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-name/popup__image-name.css);
@import url(../blocks/popup/__close-image/popup__close-image.css);
@import url(../blocks/addForm/addForm_is-opened.css);
@import url(../blocks/delete/delete.css);
@import url(../blocks/delete/__wrapper/delete__wrapper.css);
@import url(../blocks/form/__input-error/form__input-errror.css);
@import url(../blocks/form/__wrapper/form__wrapper.css);
@import url(../blocks/form/__input_type/form__input_type_error.css);
@import url(../blocks/popup/__button_disabled.css/popup__button_disabled.css);